.box-1{
    width: 100px;
    height: 100px;
    background-color: #871650;
}
.box-2{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.box-3{
    width: 100px;
    height: 100px;
    background-color: #a3a51d;
}